# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [2]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [ ]:
# Your code here:
import polars as pl
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')

print(f"Shape: {df.shape}")
print(f"Columns: {df.columns}")
df.head()

Shape: (6000, 8)
Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [ ]:
# Your code here:
print(f"Columns: {df.columns}")

Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents: Each row represents a diamond in our dataset that has 8 specific attributes about it.

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [ ]:
# Your code here:
total_weight = (df.select(pl.col("Carat Weight").sum()))
total_weight

shape: (1, 1)
┌──────────────┐
│ Carat Weight │
│ ---          │
│ f64          │
╞══════════════╡
│ 8007.12      │
└──────────────┘

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [ ]:
# Your code here:
varieties_cut = df.select(pl.col("Cut").unique())
varieties_cut

shape: (5, 1)
┌─────────────────┐
│ Cut             │
│ ---             │
│ str             │
╞═════════════════╡
│ Signature-Ideal │
│ Very Good       │
│ Fair            │
│ Ideal           │
│ Good            │
└─────────────────┘

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [4]:
# Your code here:
most_valuable = (df.select(pl.col("Price").max()))[0,0]
least_valuable = df.select(pl.col("Price").min())[0,0]
print(f"most valuable: ${most_valuable:,.2f}")
print(f"least valuable: ${least_valuable:,.2f}")

most valuable: $101,561.00
least valuable: $2,184.00

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [5]:
# Your code here:
grouped_price = df.group_by(pl.col("Color")).agg(pl.col("Price").mean().alias("typical_price_by_color").round(2))
grouped_price

shape: (6, 2)
┌───────┬────────────────────────┐
│ Color ┆ typical_price_by_color │
│ ---   ┆ ---                    │
│ str   ┆ f64                    │
╞═══════╪════════════════════════╡
│ D     ┆ 15255.78               │
│ F     ┆ 12712.24               │
│ I     ┆ 8989.64                │
│ H     ┆ 10487.35               │
│ E     ┆ 11539.19               │
│ G     ┆ 12520.05               │
└───────┴────────────────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = The new dataset's grain involves a group of data, in this case by diamond colors and their respective average prices.

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [6]:
# Your code here:
import polars as pl

number_of_diamonds_per_clarity = df.group_by(pl.col("Clarity")).agg(
    pl.len().alias("number_of_diamonds"),
    pl.col("Price").mean().alias("typical_price"),
    pl.col("Carat Weight").sum().alias("total_carat_weight")
)
number_of_diamonds_per_clarity

shape: (7, 4)
┌─────────┬────────────────────┬───────────────┬────────────────────┐
│ Clarity ┆ number_of_diamonds ┆ typical_price ┆ total_carat_weight │
│ ---     ┆ ---                ┆ ---           ┆ ---                │
│ str     ┆ u32                ┆ f64           ┆ f64                │
╞═════════╪════════════════════╪═══════════════╪════════════════════╡
│ VS1     ┆ 1192               ┆ 13694.113255  ┆ 1682.74            │
│ VVS2    ┆ 666                ┆ 14142.177177  ┆ 876.58             │
│ VS2     ┆ 1575               ┆ 11809.053333  ┆ 2170.81            │
│ VVS1    ┆ 285                ┆ 16845.680702  ┆ 389.43             │
│ IF      ┆ 219                ┆ 22105.844749  ┆ 316.0              │
│ FL      ┆ 4                  ┆ 63776.0       ┆ 7.87               │
│ SI1     ┆ 2059               ┆ 8018.864012   ┆ 2563.69            │
└─────────┴────────────────────┴───────────────┴────────────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [ ]:
from pickle import TRUE
# Your code here:
combinations = df.group_by(["Cut","Color"]).agg(pl.col("Price").mean().alias("set_price")).sort("Cut")
combinations.head(50)

shape: (30, 3)
┌───────────┬───────┬──────────────┐
│ Cut       ┆ Color ┆ set_price    │
│ ---       ┆ ---   ┆ ---          │
│ str       ┆ str   ┆ f64          │
╞═══════════╪═══════╪══════════════╡
│ Fair      ┆ F     ┆ 6063.625     │
│ Fair      ┆ E     ┆ 5370.625     │
│ Fair      ┆ H     ┆ 5908.5       │
│ Fair      ┆ G     ┆ 7345.52381   │
│ Fair      ┆ D     ┆ 6058.25      │
│ …         ┆ …     ┆ …            │
│ Very Good ┆ H     ┆ 10056.106132 │
│ Very Good ┆ D     ┆ 13218.826415 │
│ Very Good ┆ E     ┆ 12101.910217 │
│ Very Good ┆ I     ┆ 8930.031332  │
│ Very Good ┆ G     ┆ 12354.013841 │
└───────────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = It is relatively speaking less specific as it is now grouped by both their Cut and Color. Each row represents a set of diamonds that fit their color and cut categories and we're also displaying the average price for that set.

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [8]:
# Your code here:
inventory_buy_data = df.group_by(["Cut","Color"]).agg(
    pl.col("Price").sum().alias("total_worth"), pl.len().alias("number_of_diamonds")).sort("total_worth", descending=True)
inventory_buy_data.head(5)

shape: (5, 4)
┌───────────┬───────┬─────────────┬────────────────────┐
│ Cut       ┆ Color ┆ total_worth ┆ number_of_diamonds │
│ ---       ┆ ---   ┆ ---         ┆ ---                │
│ str       ┆ str   ┆ i64         ┆ u32                │
╞═══════════╪═══════╪═════════════╪════════════════════╡
│ Ideal     ┆ G     ┆ 9363514     ┆ 690                │
│ Very Good ┆ G     ┆ 7140620     ┆ 578                │
│ Very Good ┆ F     ┆ 5648327     ┆ 455                │
│ Ideal     ┆ F     ┆ 5346782     ┆ 363                │
│ Ideal     ┆ H     ┆ 5279687     ┆ 458                │
└───────────┴───────┴─────────────┴────────────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use